@model alperkaand_proje.Models.uyeler

@{
    ViewBag.Title = "ÜYE OL";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2 style="text-align:center">Kişisel Bilgiler</h2>
<script>
    $(function () {
        $('#plaka_id').change(function () {
            var id = $('#plaka_id').val();
            $.ajax({
                url: '/uyelers/ilcegetir',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                    $('#ilce_id').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#ilce_id').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                    }
                }
            });
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-top: 100px; "  class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("KULLANICI ADI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kuladi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kuladi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ŞİFRE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sifre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("TC KİMLİK NO", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uye_TC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uye_TC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("AD SOYAD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.adsoyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adsoyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("E-MAİL", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("TELEFON", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("SEHİR", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("plaka_id", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.plaka_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("İLÇE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ilce_id", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ilce_id, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">
     Fotoğraf Ekleyin(.png,.jpeg uzantili dosyalar):
     <div class="col-md-10">
         @Html.TextBox("file", "", new { type = "file", multiple = true })
         <div id="resim_goster" style="width:350px;height:150px"></div>
         @Html.ValidationMessageFor(model => model.uye_foto, "", new { @class = "text-danger" })
     </div>
 </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="GÖNDER" class="btn btn-success" />
            </div>
        </div>
    </div>

}


 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
