@using alperkaand_proje.Models;
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div style="background-color:dimgrey" class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Arabam<span>ONLINE</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Index","Home")" class="nav-link">Anasayfa</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">Hakkımızda</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">İletişim</a></li>
                    @if (Session["uyem"] == null)
                    {
                        <li class="nav-item"><a href="@Url.Action("Create","uyelers")" class="nav-link">Üye Ol</a></li>
                        <li class="nav-item"><a href="@Url.Action("login_giris","Home")" class="nav-link">Giriş Yap</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="@Url.Action("Index", "uyeAdmin", new { id = ((uyeler)Session["uyem"]).uyeno})" class="nav-link">Hesabım</a></li>
                    }
                    <li class="nav-item"><a href="@Url.Action("yeni_ilan","uyeAdmin")" class="nav-link">Ücretsiz İlan Ver</a></li>


                </ul>
            </div>
        </div>
    </nav>
    <div style="margin-top:135px;">@RenderBody()</div>
    <!-- END nav -->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="@Url.Action("Index","Home")" class="logo">Arabam<span>ONLINE</span></a></h2>
                        <p>Sosyal Medyada Biz</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Kurumsal</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Hakkımızda</a></li>
                            <li><a href="#" class="py-2 d-block">Yardım</a></li>
                            <li><a href="#" class="py-2 d-block">Gizlilik Politikası</a></li>
                            <li><a href="#" class="py-2 d-block">İletişim</a></li>

                            @if (Session["adminim"] == null)
                            {
                                <li><a href="@Url.Action("admin_giris","Home")" class="py-2 d-block">Admn</a></li>

                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Admin", new { id = ((admin)Session["adminim"]).admin_id})" class="py-2 d-block">Portal</a></li>

                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Hizmetlerimiz</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Jet</a></li>
                            <li><a href="#" class="py-2 d-block">Reklam</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">İletişim</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Mecidiyeköy, Mecidiyeköy Yolu Cd. No:12, 34400 Şişli/İstanbul</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+90 850 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@arabamonline.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>



    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>

    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>




